body {
    
    background-image: url(../images/logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
        
}
.page {
    width: 100% ;
    margin: auto;
    }
.browsers-icons img {
    float: left;
    margin-right: 20px;
}


.github-info {
}


#brand-name {
    line-height: 24px;
    margin-top: 2px;
}


hr {
    border: 0;
    border-bottom: 1px #ddd dotted;
    color: #ddd;
    background-color: #ddd;
}

#social{
    margin-bottom: 90px;
}
#shareme .box{
    margin:5% 8% 0 8%;
    width:100%;
    clear: both;
}
#shareme .box a{
    color:#404040;
    text-shadow: 0 1px 1px rgba(167,167,167,.4);
}
#shareme .box a:hover{
    text-decoration:none;
}
#shareme .count {
    font-weight:bold;
    font-size:50px;
    float:left;
    border-right:2px solid #57b8d1;
    line-height:40px;
    padding-right:10px
}
#shareme .share {
    float:left;
    margin-left:10px;
    font-size:20px;
    width:82px;
}
#shareme .buttons {
    position: absolute;
    width:294px;
    background-color:#fff;
    border: 1px solid rgba(0,0,0,.2);
    padding:10px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    height: 100px;
}
#shareme .button {
    float:left;
    max-width:50px;
    min-width:10px;
    margin:0 15px 0 0;
    background-color: transparent;
}
#shareme .facebook {
    margin:0 4px 0 0;
}

#carousel1 {
    height: 242px;
}

#sponsorBlock {
    height: 300px;
}

#page-index .carousel .control {
    top: auto;
    left: auto;
    bottom: -40px;
}
#page-index .carousel .control.left {
    right: 100px;
}
#page-index .carousel .control.right {
    right: 30px;
}

.charms, .app-bar, .message-dialog, .error-bar, .warning-bar, .info-bar {
    position: absolute;
}


#nav1_slim{
	width: 560px;
	margin: 0px auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size:14px;
       
}

#nav1_slim ul{
	background:#222;
	height:6px;
	list-style:none;
	border: 3px solid #222;
	-webkit-border-radius: 4px;
}

#nav1_slim li{
	float:left;
	padding:0px 10px;
}
#nav1_slim li:first-child{
	float:left;
	padding:0px 10px 0px 50px;
}
#nav1_slim li:last-child{
	float:left;
	padding:0px 50px 0px 10px;
}
#nav1_slim li a{
	background:#222;
	display:block;
	text-align:center;
	text-decoration:none;
	color:#fff;
	line-height:25px;
	padding:0px 25px;
	-webkit-border-radius: 4px;
	
}

#nav1_slim li a:hover{
	text-decoration:none;
	background: #fff;
	color:#223;
	border: 0px solid #222;
	-webkit-border-radius: 4px;
}


#nav1_slim li ul{
	position:absolute;
	background:#222;
	display:none;
	height:auto;
	width:100px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	margin-left:10px;
       
}

#nav1_slim li:hover ul{
	display:block;
}

#nav1_slim li li:hover {
	font-weight: 800;
}

#nav1_slim li li {
	display:block;
	float:none;
	width:95px;
       
}
#nav1_slim li li:first-child {
     padding: 0px 0px 0px 0px;
    float:none;
    
}
#nav1_slim li li:last-child {
     padding: 0px 0px 0px 0px;
    float:none;
}
#nav1_slim li ul a{
	text-align:left;
	display:block;
	height:25px;
	padding:0px 0px 0px 10px;
}
#nav1_slim li ul li{
	padding:0px ;
}

.button123 a {     
    background: url(../images/yeni.png) no-repeat 0 0;    
    display: block;     
    height: 100px;    
    text-indent: -9999px;        
    width: 110px;  
} 

.button123 a:hover, 
.button123 a:focus  { 
    background-position: 0 -100px;  
}
.button124 a {     
    background: url(../images/duzenle.png) no-repeat 0 0;    
    display: block;     
    height: 100px;    
    text-indent: -9999px;        
    width: 110px;  
} 

.button124 a:hover, 
.button124 a:focus  { 
    background-position: 0 -100px;  
}
.button125 a {     
    background: url(../images/arama.png) no-repeat 0 0;    
    display: block;     
    height: 100px;    
    text-indent: -9999px;        
    width: 110px;  
} 

.button125 a:hover, 
.button125 a:focus  { 
    background-position: 0 -100px;  
}
.button126 a {     
    background: url(../images/listele.png) no-repeat 0 0;    
    display: block;     
    height: 100px;    
    text-indent: -9999px;        
    width: 110px;  
} 

.button126 a:hover, 
.button126 a:focus  { 
    background-position: 0 -100px;  
}


table tbody tr.odd 
{
    background-color: #ccffff !important;
}
table tbody tr.even
{
    background-color: #ccffcc !important;
}